/* frontend/src/components/SignupFormModal/SignupForm.css */

.signup-form-container {
  background-color: #65a9ab;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 400px; 
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
}

.signup-form-title {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.signup-form {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.form-group {
  margin-bottom: 15px;
  width: 100%; 
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 10px;
}

.signup-form .form-button {
  width: 100%;
  padding: 12px;
  background-color: #000000; 
  color: #ffffff; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  align-items: center;
}

.signup-form .form-button:hover {
  background-color: #555; 
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}