/* frontend/src/components/Spots/SpotDetails.css */

.spot-details {
  padding: 50px;
}

.spot-header {
  margin-bottom: 20px;
}

.spot-header h1 {
  margin: 0;
}

.spot-header h2 {
  margin: 0;
  color: gray;
}

.spot-rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.spot-images-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 20px;
  background-color: transparent;
  
}

.spot-image-large {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.spot-image-large img,
.spot-image-small img {
  width: 100%;
  height: auto;
  max-width: 400px;
  cursor: pointer;
  object-fit: cover;
  border: 3px solid #ccc;
  padding: 5px;
}

.spot-image-small {
  grid-column: span 1;
  padding: 5px;
}

.empty-image {
  border: 10px solid #ccc;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #999;
  z-index: 10;
}

.spot-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.spot-description {
  flex: 2;
  margin-right: 20px;
}

.spot-reservation {
  flex: 1;
}

.reservation-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.reserve-button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.reserve-button:hover {
  background-color: #e04e4e;
  transform: scale(1.1);
}

.divider {
  margin: 20px 0;
}

.spot-reviews {
  margin-top: 20px;
}

.review-form-box {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.spot-reviews-box {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.spot-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: flex-end; 
}