/* frontend/src/components/Reviews/ReviewList.module.css */

.reviews {
    margin-top: 20px;
  }
  
  .reviews h2 {
    margin-bottom: 20px;
  }
  
  .reviewButton {
    background-color: #65a9ab;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }
  
  .reviewButton:hover {
    background-color: #4f8a8b;
  }